## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/cities.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Conditions
0,0,Albany,US,42.6001,-73.9662,9.00,59,17,3.36,few clouds
1,1,Semenivka,UA,52.1783,32.5818,24.84,97,93,13.13,overcast clouds
2,2,Palmer,US,42.1584,-72.3287,6.80,66,1,4.61,clear sky
3,3,Rikitea,PF,-23.1203,-134.9692,78.55,77,44,10.40,light rain
4,4,Ushuaia,AR,-54.8000,-68.3000,48.20,61,75,9.22,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("Min temperature you would perfer on your trip? "))
max_temp = float(input("Max temperature you would perfer on your trip? "))

Min temperature you would perfer on your trip? 75
Max temperature you would perfer on your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# created new variable to hold search results
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(40)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Conditions
3,3,Rikitea,PF,-23.1203,-134.9692,78.55,77,44,10.40,light rain
8,8,Paka,MY,4.6374,103.4368,80.60,83,40,9.22,scattered clouds
9,9,Sur,OM,22.5667,59.5289,77.07,40,0,6.40,clear sky
10,10,Vaini,TO,-21.2000,-175.2000,77.00,94,75,5.75,light rain
11,11,Hermanus,ZA,-34.4187,19.2345,78.01,64,12,8.99,few clouds
14,14,Avarua,CK,-21.2078,-159.7750,75.20,94,96,2.30,overcast clouds
15,15,Bengkulu,ID,-3.8004,102.2655,81.55,73,100,9.08,overcast clouds
21,21,Port Alfred,ZA,-33.5906,26.8910,75.00,73,76,3.00,broken clouds
29,29,Biak,ID,-0.9131,122.8766,80.82,70,100,6.96,overcast clouds
42,42,Poum,NC,-20.2333,164.0167,79.56,73,52,9.26,broken clouds
43,43,Nosy Varika,MG,-20.5833,48.5333,86.14,63,7,8.88,clear sky
44,44,Port Elizabeth,ZA,-33.9180,25.5701,77.00,57,0,4.61,clear sky
53,53,Wattegama,LK,6.7989,81.4808,87.80,70,75,10.36,broken clouds
57,57,Inhambane,MZ,-23.8650,35.3833,87.60,56,26,4.54,scattered clouds
58,58,Amalapuram,IN,16.5833,82.0167,84.20,58,75,8.05,haze
60,60,Kruisfontein,ZA,-34.0033,24.7314,82.00,50,0,8.01,clear sky
65,65,Harper,LR,4.3750,-7.7169,80.98,83,18,6.04,few clouds
66,66,Mahebourg,MU,-20.4081,57.7000,87.80,62,75,12.66,broken clouds
70,70,Durban,ZA,-29.8579,31.0292,81.00,78,75,2.30,broken clouds
72,72,Luang Prabang,LA,19.8856,102.1347,78.80,57,75,6.91,broken clouds
74,74,Butaritari,KI,3.0707,172.7902,81.43,80,87,16.06,overcast clouds
78,78,Kavieng,PG,-2.5744,150.7967,83.10,75,100,11.25,overcast clouds
85,85,Atuona,PF,-9.8000,-139.0333,79.21,73,49,19.53,scattered clouds
88,88,Meulaboh,ID,4.1363,96.1285,84.40,68,40,7.61,scattered clouds
92,92,Bloemfontein,ZA,-29.1211,26.2140,78.04,42,29,9.71,scattered clouds
98,98,Arraial Do Cabo,BR,-22.9661,-42.0278,75.02,84,34,23.44,scattered clouds
99,99,Dwarka,IN,22.2394,68.9678,76.55,33,0,8.66,clear sky
101,101,Auki,SB,-8.7676,160.7034,80.31,81,100,14.18,overcast clouds
104,104,Srandakan,ID,-7.9386,110.2506,83.39,72,100,8.12,light rain
111,111,Bredasdorp,ZA,-34.5322,20.0403,78.01,64,0,8.99,clear sky
114,114,Carnarvon,AU,-24.8667,113.6333,86.00,79,11,16.11,few clouds
118,118,Cayenne,GF,4.9333,-52.3333,78.80,89,75,9.22,broken clouds
130,130,Esperance,AU,-33.8667,121.9000,78.80,44,0,19.57,clear sky
152,152,Asosa,ET,10.0667,34.5333,89.08,19,46,4.61,scattered clouds
154,154,Bathsheba,BB,13.2167,-59.5167,78.80,73,75,21.85,broken clouds
155,155,Saint-Philippe,RE,-21.3585,55.7679,89.60,58,0,27.63,light rain
156,156,Namibe,AO,-15.1961,12.1522,75.20,69,40,4.59,scattered clouds
163,163,Trairi,BR,-3.2778,-39.2689,76.23,88,100,7.23,overcast clouds
173,173,Byron Bay,AU,-28.6500,153.6167,77.00,69,40,9.22,scattered clouds
174,174,Salinopolis,BR,-0.6136,-47.3561,77.95,87,100,9.26,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID               0
City                  0
Country               3
Lat                   0
Lng                   0
Max Temp              0
Humidity              0
Cloudiness            0
Wind Speed            0
Current Conditions    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
fixed_preferred_cities_df = preferred_cities_df.dropna()
fixed_preferred_cities_df.isnull().sum()

City_ID               0
City                  0
Country               0
Lat                   0
Lng                   0
Max Temp              0
Humidity              0
Cloudiness            0
Wind Speed            0
Current Conditions    0
dtype: int64

In [7]:
fixed_preferred_cities_df.isnull().count()

City_ID               181
City                  181
Country               181
Lat                   181
Lng                   181
Max Temp              181
Humidity              181
Cloudiness            181
Wind Speed            181
Current Conditions    181
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = fixed_preferred_cities_df[["City", "Country", "Max Temp", "Current Conditions", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Conditions,Lat,Lng,Hotel Name
3,Rikitea,PF,78.55,light rain,-23.1203,-134.9692,
8,Paka,MY,80.60,scattered clouds,4.6374,103.4368,
9,Sur,OM,77.07,clear sky,22.5667,59.5289,
10,Vaini,TO,77.00,light rain,-21.2000,-175.2000,
11,Hermanus,ZA,78.01,few clouds,-34.4187,19.2345,
14,Avarua,CK,75.20,overcast clouds,-21.2078,-159.7750,
15,Bengkulu,ID,81.55,overcast clouds,-3.8004,102.2655,
21,Port Alfred,ZA,75.00,broken clouds,-33.5906,26.8910,
29,Biak,ID,80.82,overcast clouds,-0.9131,122.8766,
42,Poum,NC,79.56,broken clouds,-20.2333,164.0167,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
       
    except (IndexError):
        
        
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
hotel_df.isnull().count()

City                  181
Country               181
Max Temp              181
Current Conditions    181
Lat                   181
Lng                   181
Hotel Name            181
dtype: int64

In [11]:
hotel_df.head()

,City,Country,Max Temp,Current Conditions,Lat,Lng,Hotel Name
3,Rikitea,PF,78.55,light rain,-23.1203,-134.9692,Pension Maro'i
8,Paka,MY,80.60,scattered clouds,4.6374,103.4368,Rumbia Resort Villa Paka Terengganu
9,Sur,OM,77.07,clear sky,22.5667,59.5289,Sur Plaza Hotel
10,Vaini,TO,77.00,light rain,-21.2000,-175.2000,Keleti Beach Resort
11,Hermanus,ZA,78.01,few clouds,-34.4187,19.2345,Misty Waves Boutique Hotel

In [12]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "../Weather_Database/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Conditions} and {Max Temp} °F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))