## Deliverable 3. Create a Travel Itinerary Map.

In [12]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
import gmaps
import gmaps.datasets
from traitlets import Unicode, Int, List, observe, HasTraits, Bool

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [13]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
# vacation_df.head()
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Conditions,Lat,Lng,Hotel Name
0,3,Rikitea,PF,78.55,light rain,-23.1203,-134.9692,Pension Maro'i
1,8,Paka,MY,80.60,scattered clouds,4.6374,103.4368,Rumbia Resort Villa Paka Terengganu
2,9,Sur,OM,77.07,clear sky,22.5667,59.5289,Sur Plaza Hotel
3,10,Vaini,TO,77.00,light rain,-21.2000,-175.2000,Keleti Beach Resort
4,11,Hermanus,ZA,78.01,few clouds,-34.4187,19.2345,Misty Waves Boutique Hotel

In [14]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Conditions} and {Max Temp} Â°F</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [17]:
# 4a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
my_itenary =  vacation_df[vacation_df["Country"] == "IN"]
my_itenary

,City_ID,City,Country,Max Temp,Current Conditions,Lat,Lng,Hotel Name
14,58,Amalapuram,IN,84.20,haze,16.5833,82.0167,swayamprabha service apartments
26,99,Dwarka,IN,76.55,clear sky,22.2394,68.9678,Hotel Narayan Avezika Comfort
49,207,Yarada,IN,84.20,haze,17.6500,83.2667,"D-26/2, Dolphin Hill,"
80,338,Arani,IN,89.04,clear sky,12.6667,79.2833,KPK LODGE
132,541,Waraseoni,IN,83.48,clear sky,21.7500,80.0333,Thakre Bhavan
138,556,Tarapur,IN,80.80,clear sky,19.8500,72.7000,Vasantshrushti Farm
141,563,Mangrol,IN,81.09,clear sky,21.1167,70.1167,Hotel The Royal Honours
158,616,Veraval,IN,81.03,clear sky,20.9000,70.3667,Lords Inn Somnath

In [24]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.


vacation_start = vacation_df.loc[vacation_df["City"] == "Waraseoni"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Waraseoni"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Yarada"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Amalapuram"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Tarapur"]

In [25]:
print(vacation_stop3)

     City_ID     City Country  Max Temp Current Conditions    Lat   Lng  \
138      556  Tarapur      IN      80.8          clear sky  19.85  72.7

              Hotel Name
138  Vasantshrushti Farm

In [26]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]

In [28]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
India = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING' or 'BICYCLING' or 'WALKING')
fig.add_layer(India)
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Conditions,Lat,Lng,Hotel Name
0,541,Waraseoni,IN,83.48,clear sky,21.7500,80.0333,Thakre Bhavan
1,207,Yarada,IN,84.20,haze,17.6500,83.2667,"D-26/2, Dolphin Hill,"
2,58,Amalapuram,IN,84.20,haze,16.5833,82.0167,swayamprabha service apartments
3,556,Tarapur,IN,80.80,clear sky,19.8500,72.7000,Vasantshrushti Farm

In [30]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Conditions} and {Max Temp} Â°F</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [35]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
#max_temp = itinerary_df["Max Temp"]fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))